@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Heebo', sans-serif;
	color: #969696;
	transition: 0.03s;
}

h1 {
	font-weight: 700;
	font-size: 4rem;
	margin-bottom: 2rem;
}

h2 {
	font-weight: 400;
	font-size: 2rem;
}

a {
	text-decoration: none;
}

a:hover {
	color: #f05d2a;
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.4rem;
	}
}
